test/com/tours/test/data/tours.dtd

<!ELEMENT dataset (
    AIRLINES*,
    CITIES*,
    COUNTRIES*,
    FLIGHTAVAILABILITY*,
    FLIGHTS*,
    FLIGHTS_HISTORY*,
    MAPS*)>

<!ELEMENT AIRLINES EMPTY>
<!ATTLIST AIRLINES
    AIRLINE CDATA #REQUIRED
    AIRLINE_FULL CDATA #IMPLIED
    BASIC_RATE CDATA #IMPLIED
    DISTANCE_DISCOUNT CDATA #IMPLIED
    BUSINESS_LEVEL_FACTOR CDATA #IMPLIED
    FIRSTCLASS_LEVEL_FACTOR CDATA #IMPLIED
    ECONOMY_SEATS CDATA #IMPLIED
    BUSINESS_SEATS CDATA #IMPLIED
    FIRSTCLASS_SEATS CDATA #IMPLIED
>

<!ELEMENT CITIES EMPTY>
<!ATTLIST CITIES
    CITY_ID CDATA #REQUIRED
    CITY_NAME CDATA #REQUIRED
    COUNTRY CDATA #REQUIRED
    AIRPORT CDATA #IMPLIED
    LANGUAGE CDATA #IMPLIED
    COUNTRY_ISO_CODE CDATA #IMPLIED
>

<!ELEMENT COUNTRIES EMPTY>
<!ATTLIST COUNTRIES
    COUNTRY CDATA #REQUIRED
    COUNTRY_ISO_CODE CDATA #REQUIRED
    REGION CDATA #IMPLIED
>

<!ELEMENT FLIGHTAVAILABILITY EMPTY>
<!ATTLIST FLIGHTAVAILABILITY
    FLIGHT_ID CDATA #REQUIRED
    SEGMENT_NUMBER CDATA #REQUIRED
    FLIGHT_DATE CDATA #REQUIRED
    ECONOMY_SEATS_TAKEN CDATA #IMPLIED
    BUSINESS_SEATS_TAKEN CDATA #IMPLIED
    FIRSTCLASS_SEATS_TAKEN CDATA #IMPLIED
>

<!ELEMENT FLIGHTS EMPTY>
<!ATTLIST FLIGHTS
    FLIGHT_ID CDATA #REQUIRED
    SEGMENT_NUMBER CDATA #REQUIRED
    ORIG_AIRPORT CDATA #IMPLIED
    DEPART_TIME CDATA #IMPLIED
    DEST_AIRPORT CDATA #IMPLIED
    ARRIVE_TIME CDATA #IMPLIED
    MEAL CDATA #IMPLIED
    FLYING_TIME CDATA #IMPLIED
    MILES CDATA #IMPLIED
    AIRCRAFT CDATA #IMPLIED
>

<!ELEMENT FLIGHTS_HISTORY EMPTY>
<!ATTLIST FLIGHTS_HISTORY
    FLIGHT_ID CDATA #IMPLIED
    SEGMENT_NUMBER CDATA #IMPLIED
    ORIG_AIRPORT CDATA #IMPLIED
    DEPART_TIME CDATA #IMPLIED
    DEST_AIRPORT CDATA #IMPLIED
    ARRIVE_TIME CDATA #IMPLIED
    MEAL CDATA #IMPLIED
    FLYING_TIME CDATA #IMPLIED
    MILES CDATA #IMPLIED
    AIRCRAFT CDATA #IMPLIED
    STATUS CDATA #IMPLIED
>

<!ELEMENT MAPS EMPTY>
<!ATTLIST MAPS
    MAP_ID CDATA #REQUIRED
    MAP_NAME CDATA #REQUIRED
    REGION CDATA #IMPLIED
    AREA CDATA #REQUIRED
    PHOTO_FORMAT CDATA #REQUIRED
    PICTURE CDATA #IMPLIED
>

